{cover_enabled, true}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{erl_opts, [debug_info]}.
{deps,
 [{term,
   {git, "https://github.com/exograd/erl-term.git", {branch, "master"}}},
  {json,
   {git, "https://github.com/galdor/erl-json.git", {tag, "v1.3.0"}}}]}.
{shell, [{apps, [mlog]}]}.
