{cover_enabled, true}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{erl_opts, [debug_info]}.
{deps,
 [{term,
   {git, "https://github.com/exograd/erl-term.git", {branch, "master"}}},
  {backoff,
   {git, "https://github.com/ferd/backoff.git", {tag, "1.1.6"}}},
  {core,
   {git, "https://github.com/exograd/erl-core.git", {branch, "master"}}},
  {uri,
   {git, "https://github.com/exograd/erl-uri.git", {branch, "master"}}},
  {json,
   {git, "https://github.com/exograd/erl-json.git", {branch, "master"}}}]}.
{shell, [{apps, [mlog]}]}.
